.header {
   display: flex;
   width: 100%;
   min-height: 50px;
   align-items: center;
   justify-content: flex-end;
   padding: 0px 20px;
}

* {
   padding: 0;
   margin: 0;
}

html,
body {
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

.mm-listitem {
   border: none;
   font-weight: bolder;
   color: #0b4a8b;
   &:after {
      display: none;
   }
   margin-bottom: 20px;
}

#mm-1 {
   & > .mm-navbar {
      display: none;
   }
}

.mm-navbar {
   background-color: #f4f4f4;
   border: none;
   display: flex;
   .mm-btn {
      order: 1;
   }
}
.mm-navbar__title {
   font-weight: bold;
   color: #0b4a8b !important;
   padding-left: 1.25rem !important;
   padding-right: 0 !important;
   justify-content: flex-start;
}

.submenu-wrapper {
   padding: 1.25rem;
   .submenu-item {
      margin-top: 2.5rem;
      &:first-child {
         margin-top: 1.25rem;
      }
      .title {
         color: #0b4a8b !important;
         font-weight: bold;
      }
      .submenu-list {
         color: #969aa1;
         a {
            display: block;
            padding: 4px 0px;
            font-size: 14px;
            cursor: pointer;
         }
      }
   }
}
#menu-desktop {
}
@media (min-width: 700px) {
   #menu {
      ul {
         display: grid;
         grid-auto-flow: column;
         width: 100%;
         li {
            list-style: none;
            width: 100%;
            font-weight: bolder;
            // color: #0b4a8b !important;

            & > span {
               color: #0b4a8b !important;
               cursor: pointer;
               text-align: center;
               width: 100%;
               display: block;
               padding: 1rem 0;
               &:hover {
                  background-color: #f4f4f4;
               }
            }
            .submenu-wrapper {
               display: none;
               grid-auto-flow: column;
               position: absolute;
               padding: 2rem;

               .submenu-item {
                  margin: 0;
                  margin-right: 5rem;
                  .title {
                     margin-bottom: 1rem;
                  }
                  a {
                     text-decoration: none;
                     color: #969aa1;
                     padding: 0.5rem 0;
                  }
               }
               box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.25);
            }
            &:hover {
               .submenu-wrapper {
                  display: grid;
               }
            }
         }
      }
   }
   .header {
      display: none;
   }

   // #menu-desktop {
   //    display: flex;
   // }
}
